.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
  background-image: url('../../../../assets/pattern.jpg'); /* Patrón SVG como fondo */
  background-size: cover;
  background-repeat: repeat; /* Ajusta según tu patrón */
  image-rendering: crisp-edges; /* Añade nitidez */
}

.login-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-header {
  margin-bottom: 1rem;
}

.logo {
  width: 150px;
  margin-bottom: 1rem;
}

.example-full-width {
  width: 100%;
}

.colorb {
  background-color: #4e6d90;
  color: white;
}

.colorb:disabled {
  background-color: #4e6d90;
}