<router-outlet></router-outlet>
<div class="banner">
    <div class="overlay"></div>
    <div class="text">
        <h1 class="title">Musictool</h1>
        <p class="subtitle"> Encuentra el sample perfecto para ti y comienza a aprender sin límites. </p>
    </div>
</div>

<div class="container mt-5">
    <h1 class="fw-bold">Últimos Samples</h1>
    <div class="row">
            @for (content of contents; track content.idContent) {
                <div class="col-md-4 mb-3">
                    <mat-card class="content-card">
                        <img mat-card-image [src]="content.coverContent | apiImg" alt="content.titleContent">
                        <mat-card-content>
                        <a class="h4" [routerLink]="['contents/',content.idContent]">{{content.titleContent}}</a>   
                        <p>
                            {{content.descriptionContent | slice:0:25}}...
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-raised-button class="w-100 colorb">
                            <mat-icon>add_shopping_cart</mat-icon>
                            Agregar al Carrito
                        </button>
                        <button mat-raised-button class="w-100" >
                            <mat-icon>read_more</mat-icon>
                            Detalles
                        </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            }
    </div>
</div>
