<!-- content-details.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="title-form text-center mb-4">
                <!-- Aquí va tu formulario -->
                <div>
                  <h1>{{ edicion ? 'Edicion de Contenido' : 'Registro de Contenido' }}</h1>
                </div>

                <form [formGroup]="form" (submit)="registrar()">
                  <div *ngIf="edicion">
                    <mat-form-field class="example-full-width w-100">
                      <mat-label>Código</mat-label>
                      <input matInput placeholder="Codigo" formControlName="codigo" readonly />
                    </mat-form-field>
                  </div>

                  <mat-form-field class="w-100">
                    <mat-label>Titulo</mat-label>
                    <input matInput formControlName="titulo" />
                    <mat-error *ngIf="form.get('titulo')?.hasError('required')">El titulo es obligatorio.</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="descripcion" />
                    <mat-error *ngIf="form.get('descripcion')?.hasError('required')">La descripcion obligatoria.</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Gratuito</mat-label>
                    <mat-select formControlName="free">
                      <mat-option *ngFor="let element of free" [value]="element.value">
                        {{ element.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('free')?.hasError('required')">La opcion es obligatoria.</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Precio</mat-label>
                    <input matInput formControlName="precio" />
                    <mat-error *ngIf="form.get('precio')?.hasError('required')">El precio obligatorio.</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                      <mat-option *ngFor="let element of Tipos" [value]="element.value">
                        {{ element.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('tipo')?.hasError('required')">El tipo es obligatoria.</mat-error>
                  </mat-form-field>

                  <div class="file-upload-container mb-3">
                    <label>Portada</label>
                    <input
                      id="cover"
                      type="file"
                      class="form-control"
                      accept=".png,.jpg,.jpeg"
                      (change)="uploadFile($event, 'cover')"
                    />
                    <div class="small text-muted">ruta actual: {{ form.get("cover")!.value }}</div>
                    <mat-error class="small">
                      <ng-container *ngIf="form.get('cover')!.hasError('required') && form.get('cover')!.touched">
                        La portada es obligatoria
                      </ng-container>
                    </mat-error>
                  </div>

                  <div class="file-upload-container mb-3">
                    <label>Archivo Sample</label>
                    <input
                      id="mp3"
                      type="file"
                      class="form-control"
                      accept="audio/mpeg"
                      (change)="uploadFile($event, 'file')"
                    />
                    <div class="small text-muted">ruta actual: {{ form.get("file")!.value }}</div>
                    <mat-error>
                      <ng-container *ngIf="form.get('file')?.hasError('required') && form.get('file')!.touched">
                        El archivo de audio es obligatorio
                      </ng-container>
                    </mat-error>
                  </div>

                  <button mat-raised-button color="primary" class="w-100">
                    {{ edicion ? 'Editar' : 'Registrar' }}
                  </button>
                </form>
              </div>
            </div>

            <div class="col-md-6 text-center d-flex flex-column align-items-center justify-content-center">
              <div class="portada mb-4">
                <div *ngIf="form.get('cover')?.value">
                  <h2>Portada</h2>
                  <img [src]="form.get('cover')?.value | apiImg" alt="" class="img-thumbnail">
                </div>
                <div *ngIf="!form.get('cover')?.value">
                  <h2>Sin portada</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
