<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <mat-icon>headphones</mat-icon>
  <span>MusicTool</span>

  <button class="ms-3" mat-button routerLink="/home" *ngIf="isUser() || isAdmin()">Inicio</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuLibrary" *ngIf="isUser() || isAdmin()">Library</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuContent" *ngIf="isUser() || isAdmin()">Content</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuPurchase" *ngIf="isUser()">Purchase</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuUser" *ngIf="isAdmin()">User</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuRoles"*ngIf="isAdmin()">Roles</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuMessage" *ngIf="isUser() || isAdmin()">Message</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuChat" *ngIf="isUser() || isAdmin()">Chat</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuPlans" *ngIf="isUser()">Plans</button>


  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="cartMenu" [matBadge]="contentsInCart.length">
    <mat-icon>shopping_cart</mat-icon>
</button>
<mat-menu #cartMenu="matMenu">

    @for (content of contentsInCart; track content.idContent) {
    <button mat-menu-item class="car-items">

        <div class="d-flex gap-2">
            <img [src]="content.coverContent| apiImg" alt="" class="mw-10px">

            <div class="info">
                <div class="fw-bold mb-1">{{ content.titleContent }}</div>
                <p>{{ content.priceContent| currency }}</p>
            </div>
        </div>

    </button>
    }
    <button mat-menu-item class="py-2 justify-content-center" routerLink="/cart">
        <div class="text-center">
            <div class="fw-bold d-block">Total: {{ total | currency }}</div>
            <div>Ir al carrito</div>
        </div>
    </button>

</mat-menu>

  <button class="ms-3" mat-button [matMenuTriggerFor]="menuLogin" >
    <mat-icon>account_circle</mat-icon>
    {{username}}
  </button>

</mat-toolbar>

<mat-menu #menuLibrary="matMenu">
  <button mat-menu-item routerLink="/library/new">
    <mat-icon color="primary">library_add</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/library">
    <mat-icon color="primary">playlist_add</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuContent="matMenu">
  <button mat-menu-item routerLink="/content/new">
    <mat-icon color="primary">music_note</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/content">
    <mat-icon color="primary">playlist_play</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuPurchase="matMenu">
  <button mat-menu-item routerLink="/curi/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/musictool/artist/list">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>
<mat-menu #menuMessage="matMenu">
  <button mat-menu-item routerLink="/message/creaeditamessage">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/message">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuChat="matMenu">
  <button mat-menu-item routerLink="/chats/creaeditachats">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/chats">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>
<mat-menu #menuPlans="matMenu">
  <button mat-menu-item routerLink="/plans/creaeditaplan">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/plans">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuUser="matMenu">
  <button mat-menu-item routerLink="/usuarios/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/usuarios">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuRoles="matMenu">
  <button mat-menu-item routerLink="/roles/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/roles">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>


<mat-menu #menuLogin="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>