.spacer {
    flex-grow: 1;
  }
  .custom-toolbar {
    background-color: #4e6d90;
    color: white; /* Asegúrate de que el texto sea legible */
  }
  .custom-toolbar button {
    color: white; /* Asegúrate de que el texto sea legible */
  }

  