<nav>
    <ul>
        <li><a class="active" href="#">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#title">Descarga</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#ourWork">Portafolio</a></li>
        <li [routerLink]="['/login']" routerLinkActive="router-link-active" ><a>Login</a></li>
    </ul>
</nav>

<header class="hero">
    <div class="textos-hero">
        <h1>Bienvenido a MusicTool</h1>
        <p>Descubre tu armonía interior: MusicTool te lleva de novato a virtuoso</p>
        <a href="#contacto">¡Registrate Ya!</a>       
    </div>
    <div id="nosotros" class="svg-hero" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C148.98,158.39 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #274C77;"></path>
        </svg>
    </div>
</header>

<section class="wave-contenedor website">
    <img src="/src/assets/img/music-therapy.jpg" alt="">
    <div class="contenedor-textos-main">
        <h2 class="titulo left">¿Qué somos?</h2>
        <p class="parrafo">Somos una empresa apasionada dedicada a brindar herramientas innovadoras que fomenten el estudio de la teoría musical. Nuestro objetivo principal es motivar e inspirar a personas de todas las edades a sumergirse en el fascinante mundo de la teoría musical, permitiéndoles descubrir el poder y la belleza de este arte.</p>
        <br>
        <a href="" class="cta">Más info</a>
    </div>
</section>

<section class="info" id="title">
    <div class="contenedor last-section">
        <div class="contenedor-textos-main">
            <p class="parrafo1">Music Tool es una app de teoría musical. Diseñada para aquellos apasionados por aprender música, ofrece una experiencia interactiva y educativa. Aprende los fundamentos de la teoría musical a través de lecciones prácticas, ejercicios interactivos y desafíos divertidos. Con nuestra app, podrás comprender la lectura de partituras, la armonía y mucho más. ¡Desarrolla tus habilidades musicales mientras te diviertes! Descarga nuestra app de teoría musical y empieza a explorar el maravilloso mundo de la música.</p>
            <a href="https://www.apple.com/app-store/" target="_blank"><img class="tienda" src="/src/assets/img/logos.png" alt=""></a>
        </div>
        <div>
            <img class="MusicTool" src="/src/assets/img/cortado.png" alt="">
        </div>
    </div>
</section>

<section class="cards contenedor" id="services">
    <h2 class="titulo">Nuestros Servicios</h2>
    <div class="content-cards">
        <article class="card">
            <h3>FREE</h3><br>
            <ul>
                <li>Descargar samples gratuitos</li>
                <li>Compartir tu trabajo</li>
                <li>Acceso a la cursos gratuito</li>
            </ul>
            <a href="" class="cta1">Empezar</a>
        </article>
        <article class="card">
            <h3>PREMIUM</h3><br>
            <ul>
                <li>Descargar samples gratuitos</li>
                <li>Compartir tu trabajo</li>
                <li>Acceso a la cursos gratuito</li>
                <li>Profesor Personalizado</li>
                <li>Mayor Número De Pistas</li>
            </ul>
            <a href="" class="cta2">Empezar</a>
        </article>
        <article class="card">
            <h3>UNIVERSITARIO</h3><br>
            <ul>
                <li>Descargar samples gratuitos</li>
                <li>Compartir tu trabajo</li>
                <li>Acceso a la cursos gratuito</li>
                <li>Profesor Personalizado</li>
                <li>Mayor Número De Pistas</li>
                <li>Clases En Vivo</li>
            </ul>
            <a href="" class="cta3">Empezar</a>
        </article>
    </div>
</section>

<section class="galeria" id="ourWork">
    <div class="contenedor">
        <h2 class="titulo2">Nuestros Contenidos</h2><br>
        <article class="galeria-cont">
            <iframe width="330" height="165" src="https://www.youtube.com/embed/3tE78JZ_6Lg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="330" height="165" src="https://www.youtube.com/embed/gEIXGCJGMUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="330" height="165" src="https://www.youtube.com/embed/uLJ7TDJPQUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="330" height="165" src="https://www.youtube.com/embed/wElC_Qk0ZV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="330" height="165" src="https://www.youtube.com/embed/i9714CNq6u4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="330" height="165" src="https://www.youtube.com/embed/jHkodzMXJ0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </div>
</section>

<section class="video-container2">
    <h2></h2>
    <article>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s3tyhNlpwvc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </article>
    <h2 class="titulo4">Nuestro Equipo</h2><br>
</section>

<section class="galeria">
    <div class="video-container">
        <h2 class="titulo3">Nuestro Producto</h2><br>
        <h2></h2>
        <article>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cX1Ki3LKo_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </div>
    <div class="svg-wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C148.98,158.39 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #274C77;"></path>
    </svg>
    </div>
</section>

<footer>
    <div class="contenedor">
        <h2 class="titulo">contact us</h2>
        <h2></h2>
        <form action="" class="form">
            <input class="input" type="text" name="" id="" placeholder="nombre">
            <input class="input" type="email" name="" id="" placeholder="Email">
            <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <input class="input" type="submit" value="Enviar">
        </form>
    </div>
</footer>
