<div class="title-container ">
  <div>
      @if (edicion) {
        <div><h1 class="title">Edición de Resgistro de Plan</h1></div>
      }@else {
        <div><h1 class="title">Registro de Plan</h1></div>
      }
    </div>
    <div class="container">
    <form [formGroup]="form" (submit)="registrar()" class="example-form">
      @if (edicion) {
      <mat-form-field class="example-full-width"  *ngIf="edicion" >
        <mat-label>Codigo de Plan</mat-label>
        <input matInput placeholder="Codigo" formControlName="codigo" />      
      </mat-form-field>
    }
      <br/>  
      <mat-form-field class="example-full-width">
            <mat-label>Nombre del plan </mat-label>
            <mat-select formControlName="nombreplan">
              <mat-option *ngFor="let u of nameplan" [value]="u.value">
                {{ u.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('nombreplan')?.hasError('required')"
            >El nombre del plan es obligatoria.</mat-error
          >
          </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Precio del plan</mat-label>
            <mat-select formControlName="precioplan">
              <mat-option *ngFor="let u of precioplan" [value]="u.value">
                {{ u.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('precioplan')?.hasError('required')"
            >El precio del plan es obligatorio.</mat-error
          >
          </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Descripción del plan</mat-label>
        <input matInput formControlName="descripcion" />
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
          >La Descripción del plan es obligatorio.</mat-error
        >
      </mat-form-field>
      <br />
      @if (edicion) {
        <button mat-raised-button color="primary">Editar</button>
      }@else {
        <button mat-raised-button color="primary">Registrar</button>
      }
      <button mat-raised-button color="warn" routerLink="plans">Cancelar
      </button>
    </form>
  </div>
  </div>